<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<% for cat_wt in @city.category_weights %>
	<strong><%= cat_wt.category.name %></strong>: <%= cat_wt.weight %><br>
<% end %>
<p>

</p>
<%= link_to 'Home', root_path %> | <%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Cities', cities_path %> 
