<!DOCTYPE html>
<html>
<head>
  <title>Travelswipeapi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Cities', cities_path %>  | <%= link_to 'Categories', categories_path %> | <%= link_to 'Listings', listings_path %>
<br>
<br>
<%= yield %>

</body>
</html>
