<!DOCTYPE html>
<html>
<head>
  <title>Travelswipeapi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<em>
<%= link_to 'New City', new_city_path %> | 
<%= link_to 'New Category', new_category_path %> | 
<%= link_to 'New Listing', new_listing_path %>
</em> | 
<%= link_to 'Cities', cities_path %>  | <%= link_to 'Categories', categories_path %> | <%= link_to 'Listings', listings_path %>
<br>
<br>
<%= yield %>
<br><br>
<h2>Instructions (READ FIRST)</h2>
Do all the following in this order exactly:

<ol>
	<li>Create ALL Categories</li>
	<li>Create ALL Cities</li>
	<li>Create Listings</li>
</ol>

</body>
</html>
